<template>
  <div>
    <form action="" onsubmit="return false" @submit="consultar">
      <input type="number" v-model="id" />
      <button type="submit">Consultar</button>
    </form>
    <p v-if="consulta.length == 0">CARGANDO DATA</p>
    <table v-else>
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Slug</th>
          <th>Rank</th>
          <th>House</th>
          <th>Book</th>
          <th>Titles</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in consulta" :key="item.id">
          <td>{{ item.name }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.slug }}</td>
          <td v-if="item.pagerank != undefined">{{ item.pagerank.rank }}</td>
          <td v-else>null</td>
          <td>{{ item.house }}</td>
          <td>{{ item.books }}</td>
          <td>{{ item.titles }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import request from "request";

export default {
  name: "Form",
  data: () => ({
    id: null,
    consulta: []
  }),
  methods: {
    consultar: function() {
      let options = {
        method: "GET",
        url: `http://localhost:2703/characters/${this.id}`
      };

      request(options, (error, response, body) => {
        if (error) {
          // console.log(`Catch functions.js getAllCharatersGOT Error: ${error}`);
        } else {
          // console.log("response", response);
          // console.log(`functions.js getAllCharatersGOT: ${body}`);
          this.consulta = JSON.parse(body);
        }
      });
    }
  }
};
</script>
