<template>
  <div class="list">
    <h1>Lista de Personajes</h1>
    <Table />
  </div>
</template>

<script>
// @ is an alias to /src
import Table from "@/components/Table.vue";

export default {
  name: "list",
  components: {
    Table
  }
};
</script>
