<template>
  <div class="list">
    <h1>Visualizacióin de Personaje</h1>
    <Form />
  </div>
</template>

<script>
// @ is an alias to /src
import Form from "@/components/Form.vue";

export default {
  name: "view",
  components: {
    Form
  }
};
</script>
